node_modules
lib
out
tsconfig.tsbuildinfo
pack
bundle
syntaxes
workers
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
generated
coverage
thesis.*
!thesis.tex
!thesis.pdf
report.json